@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

/* HEADER */
.header {
  width: 72%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 15px 0;
  border-bottom: 2px solid #e07127;
}

.header h1 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #222;
}

.back-btn {
  position: absolute;
  left: 20px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  color: #da6b11;
  transition: transform 0.2s;
  
}

.back-btn:hover {
  transform: scale(1.1);
}

/* CONTENT */
.container {
  width: 90%;
  max-width: 900px;
  margin-top: 20px;
}

.total-points {
  background: #f6e58d;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.total-points i {
  color: #fbc02d;
  margin-right: 8px;
}

.reward-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 15px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.reward-card:hover {
  transform: scale(1.02);
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.reward-card h3 {
  font-size: 1.1rem;
  margin-bottom: 5px;
}

.points {
  color: #333;
  font-weight: bold;
}

.expiry {
  font-size: 0.9rem;
  color: #666;
}

.exchange-btn {
  background-color: #eb4d4b;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 8px 25px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
}

.exchange-btn:hover {
  background-color: #24983e;
}

/* Màu nền thẻ */
.pink {
  background-color: #ffbe76;
}

.blue {
  background-color: #ffbe76;
}

.green {
  background-color: #ffbe76;
}
